.App {
  background-color: #416e33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input.submitButton{
  background-color: red;
}

.Header{
  color: #61dafb;
  align-self: flex-start; 
  font-size: calc(5px + 1vmin);
}


.MainMenu{
  font-size: calc(20px + 2vmin);
  align-self: flex-start;
}

.Footer{
  color: #61dafb;
  font-size: calc(5px + 1vmin);
}


td{
  color: blue;
  align-self: stretch;
  font-weight: bold;
  font-size: calc(5px + 1vmin);
}

text{
  font-size: calc(5px + 1vmin);
}

ul{
  font-size: calc(5px + 1vmin);

}

li{
  display: inline-flex;
}

#inputLabel{
  color: blue;
}
